.table {
    width: 100%;
    text-align: left;
    margin: 50px 0;
    border-collapse: collapse;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 10px -10px;
    td, th {
        padding: 10px 30px;
        box-shadow: 0 0 10px -10px;
        color: #000e;
        background: #f7f7f7;
    }
}