.btn-submit {
    padding: 10px 20px;
    margin: 50px 0 10px;
    display: block;
    width: 100%;
    border: 0;
    background: orange;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 3px;
    letter-spacing: 0.25vw;
    cursor: pointer;
}

.btn-out {
    border: 0;
    padding: 5px 25px;
    margin-left: auto;
    display: block;
    text-transform: lowercase;
    background: transparent;
    cursor: pointer;
    color: $highlight;
}

.btn-delete {
    color: $normal;
    background: $important;
    font-size: 10px;
    border-radius: 5px;
    margin-right: auto;
}