* {
    box-sizing: border-box;
}

html {
    background: #101010;
    color: #f0f0f0;
    overflow: hidden;
    scroll-behavior: smooth;
}

body {
    margin: 0;
}

body > section {
    min-height: 100vh;
}