@import url('https://fonts.googleapis.com/css?family=Jomolhari|Roboto+Condensed&display=swap');

$dark: #101010;
$important: red;
$normal: #f0f0f0;
$highlight: orange;

$font-title: 'Jomolhari', serif;
$font-normal: 'Roboto Condensed', sans-serif;